---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="University of Hawaii @ Manoa"
      subtitle="2020 to 2024 at Department of Information and Computer Sciences, Honolulu], HI"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Simulations Software Engineer Intern"
      subtitle="From May to December 2023 at NASA Jet Propulsion Laboratory"
    >
      Designing and implementing dynamics models for Lunar vehicle-soil interaction for DARTS 
    </TimeLineElement>
    <TimeLineElement
      title="Undergraduate Research Assistant"
      subtitle="From September 2020 to Present at Robotic Space Exploration @ UH Manoa, Honolulu, HI"
    >
      Lead several software-oriented robotics projects. Software architecture and integration with ROS for field testing rovers. Lunar terrain modeling with novel Soil Contact Model (SCM) algorithm and implementation. System identification of a skid steering rover on Lunar terrain
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer Intern"
      subtitle="From May 2022 to August 2023 at Lockheed Martin, Manassass, VA"
    >
      Rotary and Mission Systems at the Undersea Warfare Center. Obtained DoD Secret. ML-driven applications
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
